body{
   /*background-color: #c8022c;*/
}
.puzzle {
    /*    border: 1px solid #000;
        border-collapse: collapse;
        counter-reset: req;*/
    background-color: #7c7c7c;
    border-collapse: separate;
    border-left: 1px solid #000;
    border-spacing: 0;
    border-top: 1px solid #000;
    counter-reset: req;
    empty-cells: hide;
}
.puzzle caption h1 {
    display: inline;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.puzzle caption h2 {
    display: inline;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.puzzle td {
    /*    background-color: #000;
        border: 1px solid #000;
        height: 30px;
        padding: 6px;
        text-align:left;
        vertical-align:top;
        width: 30px;*/
    /*background-color: #FFF;*/
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    width : 10%;
    padding: 6px;
    text-align: left;
    vertical-align: top;
}
/*.err:after {
    content: "!";
    color: #000;
    font-size: 10px;
    font-weight: bold;
    margin: 23px -5px 0 0;
    position: absolute;
}*/

.puzzle td[id], .puzzle td[data-hor], .puzzle td[data-ver] {
    /*    background-color: #FFF;*/
}
.puzzle td.sel {
    background-color: #FF9;
}
.puzzle td.correct{
    background-color: #00FFFF;
}
.puzzle td.err {
    background-color: #DC3023;
    color: white;
}
.puzzle td[id] {
    counter-increment: req;
}
.puzzle td[id]:before {
    content: counter(req);
    font-size: 10px;
    margin: -5px;
    position: absolute;
}
.puzzle td input {
    background-color: transparent;
    border: 0 none;
    font-size: 15px;
    /*height: 100%;*/
    padding: 0;
    text-align: center;
    width: 100%;
}
 td[clr='white']{
     background-color: white;
 }
#definitions {
    background-color: #CCC;
    float: left;
    width: 400px;
}
#definitions .pointer li {
    cursor: pointer;
}
#definitions .pointer li:hover {
    background-color: #069;
}

#tooltip {
    background-color: #0FF;
    border: 2px solid #00F;
    color: #000;
    /*    cursor: move;*/
    display:none;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    width: 200px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}


#create:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#create fieldset {
    float: left;
    margin: 0;
    padding: 0;
}
.hint *{
    transition: all 0.5s;
}
.hint .selectHint
{
    background-color:#FF9 ;
    padding:7px;

}
.hint li{
    font-weight: 500;
}

.panel-body {
    background: #d6d6d6;
}
